.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
    width: 80%;
    height: 80vh;
    margin: auto; 
}

.negro {
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid none;
    border-radius: 10px;
}